<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="ticket">
  <div class="holes-top"></div>
  <div class="title">
    <p class="cinema">ODEON CINEMA PRESENTS</p>
    <p class="movie-title" th:text="${movieTitle}"></p>
  </div>
  <div class="info">
    <table>
      <tr>
        <th>ROW</th>
        <th>SEAT</th>
      </tr>
      <tr>
        <td class="bigger" th:text="${rowNumber}"></td>
        <td class="bigger" th:text="${seatNumber}"></td>
      </tr>
    </table>
    <table>
      <tr>
        <th>PRICE</th>
        <th>DATE</th>
        <th>TIME</th>
      </tr>
      <tr>
        <td th:text="${price}"></td>
        <td th:text="${date}"></td>
        <td th:text="${time}"></td>
      </tr>
    </table>
    <div>
      <span>img</span>
      <span th:text="${img}"></span>
    </div>
  </div>
  <div class="holes-lower"></div>
</div>
</body>
</html>